* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  display: flex;
  background: gray;
}

.memoryBoard{
  width: 600px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-flow: wrap;

  perspective: 1000px; /*To make 3d effect on the turning*/
}

.memoryCard{
  /* width: calc(25% - 10px);
  height: calc(33.333% - 10px); FROM INTERNET */

  /* background-color: blue; */
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
  width: 125px;
  height: 125px;
  margin: 7px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .3s;
  border-radius: 5px;
}
.memoryCard:hover {
  transform: scale(0.97);
  transition: transform .3s;
}
.memoryCard.turn{
  transition-duration: .3s;
  transform: rotateY(180deg);
  /* background-color: hotpink; */
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

/*This is classes for the images*/
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  /* padding: 20px; */
  position: absolute;
  border-radius: 5px;
  /* background: #1C7CCC; */
  backface-visibility: hidden;

}

.front-face{
  transform: rotateY(180deg);
}
