* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  display: flex;
  background: gray;
}

.memoryBoard{
  width: 600px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-flow: wrap;
}

.memoryCard{
  /* width: calc(25% - 10px);
  height: calc(33.333% - 10px); FROM INTERNET */

  background-color: blue;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  width: 125px;
  height: 125px;
  margin: 7px;
  position: relative;
}

/* .front-face, /*This is classes for the images*/
/* .back-face {
  width: 20%;
  height: 20%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;

} */
