* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  display: flex;
  background: gray;
}

.memoryBoard{
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-flow: wrap;
}

.memoryCard{
  /* width: calc(25% - 10px);
  height: calc(33.333% - 10px); FROM INTERNET */

  background-color: blue;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  width:15%;
  height: 15%;
  margin: 10px;
  position: relative;
}
